[submodule "api-gateway-pm/food-delivery-protos"]
	path = api-gateway-pm/food-delivery-protos
	url = git@github.com:Azizbek-Qodirov/food-delivery-protos.git
[submodule "product-service/food-delivery-protos"]
	path = product-service/food-delivery-protos
	url = git@github.com:Azizbek-Qodirov/food-delivery-protos.git
[submodule "api-gateway-user/food-delivery-protos"]
	path = api-gateway-user/food-delivery-protos
	url = git@github.com:Azizbek-Qodirov/food-delivery-protos.git
